@import 'tailwindcss';

/* html {
  375 设计稿
  font-size: 4vw;
  750 设计稿
  font-size: 2vw;
} */

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer components {
  .home {
    background-image: url('./assets/images/02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  input[type='checkbox'] {
    accent-color: #7e0f10;
  }

  .poster {
    background-image: url('./assets/images/01.jpg');
    background-repeat: repeat-y;
    background-position: center top;
  }

  .qrcode-bg {
    background-image: url('./assets/images/04.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ellipsis2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
